@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple web application that allows you to add a soundtracks name, rank, a desription of what you like, and a description of what you dislike.</p>
    <p>Get started with the Ranks <a href="/Scores">here</a>.</p>
</div>
